<div class="container mt-4">
  <h2>Lista de Pessoas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>UF</th>
        <th>Contatos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>{{ pessoa.endereco }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>{{ pessoa.uf }}</td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let contato of pessoa.contato">
              <strong>{{ obterNomeTipoContato(contato.tipoContato) }}:</strong> {{ contato.contato }}
            </li>
          </ul>
        </td>
        <td>
          <button class="btn btn-warning btn-sm me-2" (click)="editarPessoa(pessoa.id)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="excluirPessoa(pessoa.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
